<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883093797038-iorcrkoc95u5l9smb9td6rm951or40nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883093797038-iorcrkoc95u5l9smb9td6rm951or40nd</string>
	<key>API_KEY</key>
	<string>AIzaSyBGLz0_FQxU5CgQco8roG6V9-vMY9ekBvw</string>
	<key>GCM_SENDER_ID</key>
	<string>883093797038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roomiesMobile</string>
	<key>PROJECT_ID</key>
	<string>cop4331-proj2</string>
	<key>STORAGE_BUCKET</key>
	<string>cop4331-proj2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883093797038:ios:6051ba4d4e511263ae153f</string>
</dict>
</plist>